# CRON SETTINGS
PATH=/usr/local/bin:/usr/bin:/bin
SHELL=/bin/bash
CRON_TZ=Europe/Amsterdam

# CRONJOBS
15 2 * * * source /etc/environment_container && full_backup_procedure > /proc/1/fd/1 2>/proc/1/fd/2
